---
import Faq from "@/components/developer-hub/faq";
import GamesCarousal from "@/components/gcp/GamesCarousal";
import Button from "@/components/ui/button.astro";
import BlogCard from "@/components/ui/cards/blog-card.astro";
import Seperator from "@/components/ui/seperator.astro";
import { paragraphCva, titleCva } from "@/lib/cvas";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { GCP_Homepage } from "../data/homepage/gcp";
import MainLayout from "../layouts/MainLayout.astro";
const data = await getCollection("blogs");
---

<MainLayout
  smooth
  title={"GCP - The Gaming Catalyst Program"}
  description={"The Gaming Catalyst Program (GCP) is Arbitrum’s flagship initiative to revolutionize blockchain gaming. With a funding pool of 100 to 200 million ARB tokens, the GCP empowers top-tier game studios and independent developers to build groundbreaking games on the Arbitrum network. By supporting the best in the industry, the GCP is positioning Arbitrum as a leader in the Web3 gaming space, driving innovation and creating the future of gaming on blockchain."}
>
  <section class="relative mt-5 md:mt-10">
    <img
      src="/bg/gcp.png"
      alt="GCP"
      class="hidden w-full rounded-small md:block md:rounded-large"
    />
    <img
      src="/gcp/mobile-bg.png"
      alt="GCP"
      class="block w-full rounded-small md:hidden"
    />
    <div class="absolute left-[10%] top-[80%] md:left-[18%] md:top-[60%]">
      <Button href="https://t.me/gcpopen" arrow variant="secondary"
        >Join Telegram Community
      </Button>
    </div>
  </section>
  <Seperator />
  <section
    class="flex flex-col-reverse items-center justify-between gap-6 md:flex-row lg:gap-28 lg:p-5"
  >
    <div class="flex flex-col gap-8 md:w-[55%]">
      <div class="flex flex-col gap-2 lg:gap-4">
        <p
          class="text-xs font-normal uppercase tracking-widest text-gray-500 lg:text-sm"
        >
          What it means for the users?
        </p>
        <div class="">
          <h1 class="text-lg font-medium md:text-2xl lg:text-3xl">
            <span>Gaming Catalyst Program (GCP)</span>
            <br class="md:hidden lg:block" />
            <span class={"text-primary"}
              >Fueling the Future of Gaming on Arbitrum</span
            >
          </h1>
        </div>
        <p
          class={"pt-3 font-os text-xs font-light text-gray-500 md:text-base lg:pt-0 lg:text-base"}
        >
          The Gaming Catalyst Program (GCP) is Arbitrum’s key initiative to
          transform blockchain gaming. With a funding pool of 100 to 200 million
          ARB tokens, the GCP supports top game studios and independent
          developers in creating innovative, high-quality games on the Arbitrum
          network.
          <br /><br />
          By providing strategic funding, mentorship, and resources, the GCP positions
          Arbitrum as a leader in Web3 gaming, driving innovation and shaping the
          future of decentralized gaming on the blockchain.
        </p>
      </div>

      <div class="flex items-start gap-4">
        <Button
          href="https://www.tally.xyz/gov/arbitrum/proposal/53472400873981607449547539050199074000442490831067826984987297151333310022877?govId=eip155:42161:0x789fC99093B09aD01C34DC7251D0C89ce743e5a4"
          arrow
          variant="default"
          >Read Full Proposal
        </Button>
        <div class="flex flex-col items-start">
          <Button arrow variant="outline">How to Apply </Button>
          <p
            class="mt-2 text-center text-xs font-normal uppercase tracking-widest text-gray-500"
          >
            To be Announced
          </p>
        </div>
      </div>
    </div>
    <div class="md:w-[45%]">
      <img
        src={"/gcp/earth.svg"}
        alt={""}
        class="aspect-[3/2] w-full md:aspect-auto lg:aspect-[16/12]"
      />
    </div>
  </section>
  <Seperator />
  <section class="flex flex-col gap-10 py-5 md:gap-20 md:py-10">
    <div class="flex flex-col gap-6 md:gap-4">
      <h2
        class="text-lg font-medium md:text-xl lg:w-[35%] lg:text-2xl xl:w-[30%]"
      >
        This Program Aims to
      </h2>
      <div class="ml-auto flex flex-col gap-10 md:w-2/3 lg:w-1/2 lg:gap-5">
        <p
          class="font-os text-xs font-light text-gray-500 md:text-sm lg:text-base"
        >
          At its core, the Arbitrum DAO Gaming Catalyst Program (GCP) is about
          fostering innovation and creativity within the blockchain gaming
          space. By offering a combination of financial resources, technical
          tools, and expert guidance, GCP aims to lower the barriers for game
          developers to build and thrive on the Arbitrum network.
        </p>
      </div>
    </div>
    <div
      class="flex flex-col-reverse items-center justify-between gap-6 rounded-small bg-blue-light md:flex-row md:rounded-3xl lg:gap-28 lg:rounded-large lg:p-14"
    >
      <div class="flex flex-col gap-2 md:w-[40%] lg:gap-4">
        <p
          class="text-xs font-normal uppercase tracking-widest text-gray-500 lg:text-sm"
        >
          This Program Aims to
        </p>

        <h2
          class="max-w-[27rem] text-lg font-medium text-[#153055] md:text-2xl lg:text-3xl"
        >
          Rapidly Increase the Number of Game Developers Using
          Arbitrum/Orbit/Stylus
        </h2>
        <p class="font-semibold text-gray-500">
          GCP is committed to attracting developers with:
        </p>
        <ul
          class={"pt-3 marker:text-gray-400 font-os list-disc text-xs list-outside flex flex-col gap-1 font-light text-gray-600 md:text-base lg:pt-0 lg:text-base"}
        >
          <li>Funding to kickstart their projects</li>
          <li>Mentorship from industry experts</li>
          <li>
            Tools like Orbit and Stylus to simplify development <br />This
            holistic approach ensures more developers join Arbitrum’s thriving
            ecosystem.
          </li>
        </ul>
      </div>
      <div class="md:w-[45%]">
        <img
          src={"/gcp/learning.svg"}
          alt={""}
          class="aspect-[3/2] w-full md:aspect-auto lg:aspect-[16/12]"
        />
      </div>
    </div>
  </section>
  <Seperator />
  <!-- second section -->
  <section
    class="flex flex-col-reverse items-center justify-between gap-6 md:flex-row lg:gap-28 lg:p-5"
  >
    <div class="flex flex-col gap-8 md:w-[55%]">
      <div class="flex flex-col gap-2 lg:gap-4">
        <h2 class="text-lg font-medium md:text-2xl lg:text-3xl">
          <span>Strategic Focus on Big Studios</span>
        </h2>

        <p
          class={"pt-3 font-os text-xs font-light text-gray-500 md:text-base lg:pt-0 lg:text-base"}
        >
          The Gaming Catalyst Program (GCP) prioritizes partnerships with big
          game studios to bring large-scale, high-quality games to the Arbitrum
          network. By backing established studios, GCP aims to position Arbitrum
          as a leader in AAA-level games, driving mass adoption in Web3 gaming.
          <br /><br />
          The program also offers two types of grants: one for big studios working
          on high-budget projects and another for independent builders, providing
          up to 50k ARB to 500k ARB. Both are milestone-based, ensuring funds are
          released as key development goals are achieved, promoting growth across
          all levels.
        </p>
      </div>

      <Button arrow variant="default">Publisher Grant</Button>
    </div>
    <div class="md:w-[45%]">
      <img
        src={"/gcp/wheel.svg"}
        alt={"wheel"}
        class="aspect-[3/2] w-full md:aspect-auto lg:aspect-[16/12]"
      />
    </div>
  </section>

  <Seperator />
  <!-- thrid section -->
  <section
    class="flex flex-col-reverse items-center justify-between gap-6 md:flex-row lg:gap-28 lg:p-5"
  >
    <div class="flex flex-col gap-8 md:w-[55%]">
      <div class="flex flex-col gap-2 lg:gap-4">
        <h2 class="text-lg font-medium md:text-2xl lg:text-3xl">
          <span>Funding for </span>

          <span class={"text-primary"}
            >Game Developers and Ecosystem Growth</span
          >
        </h2>
        <p
          class={"pt-3 font-os text-xs font-light text-gray-500 md:text-base lg:pt-0 lg:text-base"}
        >
          The Arbitrum DAO Gaming Catalyst Program (GCP) allocates 100m-200m ARB
          to support game development and ecosystem growth. 80% of the 80m-160m
          ARB goes to publisher grants, while 20% supports independent
          developers. Additionally, 20m-40m ARB funds infrastructure bounties,
          with unused funds returned to the DAO.
        </p>
      </div>
    </div>
    <div class="md:w-[45%]">
      <img src={"/gcp/funding.svg"} alt={"wheel"} class="w-full" />
    </div>
  </section>
  <Seperator />
  <section
    class="flex flex-col gap-6 rounded-small bg-primary-light px-5 py-8 md:rounded-large md:px-14 md:py-10"
  >
    <h2
      class={titleCva({
        size: "xl",
      })}
    >
      Programs
    </h2>
    <div class="flex flex-col gap-4">
      <p class={paragraphCva()}>GCP Programs are in progress.</p>
      <p class={paragraphCva()}>
        Don’t forget to subscribe to our newsletter to stay updated.
      </p>
      <Button href="#newsletter" variant="secondary" arrow
        >Subscribe to Newsletter</Button
      >
    </div>
  </section>
  <Seperator />
  <!-- fourth section -->
  <section
    class="flex flex-col-reverse items-center justify-between gap-6 md:flex-row lg:gap-28 lg:p-5"
  >
    <div class="flex flex-col gap-8 md:w-[55%]">
      <div class="flex flex-col gap-2 lg:gap-4">
        <h2 class="text-lg font-medium md:text-2xl lg:text-3xl">
          Developer Benefits
        </h2>

        <p
          class={"pt-3 font-os text-xs font-light text-gray-500 md:text-base lg:pt-0 lg:text-base"}
        >
          As a developer, building on Arbitrum through the Gaming Catalyst
          Program (GCP) offers access to funding, cutting-edge blockchain
          technology, and a robust gaming ecosystem. You'll benefit from
          milestone-based grants, expert support, and the opportunity to create
          immersive Web3 gaming experiences while reaching a global audience.
          Arbitrum’s fast, scalable, and secure network ensures your games
          thrive in the competitive gaming landscape.
        </p>
      </div>

      <Button href="https://discord.com/invite/arbitrum" arrow variant="default"
        >Join Arbitrum Developer Network</Button
      >
    </div>
    <div class="md:w-[45%]">
      <img
        src={"/gcp/developer.svg"}
        alt={"developer"}
        class="aspect-[3/2] w-full md:aspect-auto lg:aspect-[16/12]"
      />
    </div>
  </section>
  <Seperator />
  <GamesCarousal client:load />

  <Seperator />

  <section class="flex flex-col gap-6 py-10">
    <h2 class="text-lg font-medium lg:text-2xl">Blogs</h2>
    <ul class="grid grid-rows-1 gap-5 md:grid-cols-2 lg:grid-cols-3">
      {
        data
          ?.sort((a, b) =>
            new Date(a.data.pubDate) > new Date(b.data.pubDate) ? -1 : 1,
          )
          ?.slice(0, 3)
          ?.map(({ data, slug }) => (
            <BlogCard blog={data} type="blog" link={`/blog/${slug}`} />
          ))
      }
    </ul>
  </section>
  <Seperator />
  <section class="flex flex-col gap-6">
    <h2
      class={titleCva({
        size: "xl",
      })}
    >
      News
    </h2>
    <div class="flex flex-col gap-4">
      <p class={paragraphCva()}>News will be updated soon.</p>
      <p class={paragraphCva()}>
        Don’t forget to subscribe to our newsletter to stay updated.
      </p>
      <Button href="#newsletter" variant="default" arrow
        >Subscribe to Newsletter</Button
      >
    </div>
  </section>
  <Seperator />
  <section class="flex flex-col gap-4">
    <h2
      class={titleCva({
        size: "sm",
      })}
    >
      Team
    </h2>
    <div
      class="grid grid-cols-2 gap-3 md:grid-cols-4 md:gap-8 lg:grid-cols-5 2xl:gap-12"
    >
      {
        GCP_Homepage?.team?.map((item, index) => (
          <div class="flex  gap-3 rounded-xl border bg-[#F7F6FA] p-3 md:gap-4 md:p-5 ">
            <Image
              src={item.image}
              class="size-12 rounded-full md:size-16"
              width={64}
              height={64}
              alt={`GameFi ${index + 1}`}
            />
            <div class="flex flex-col ">
              <h4
                class={titleCva({
                  size: "sm",
                })}
              >
                Ox Astra
              </h4>
              <p class={paragraphCva()}>Designation</p>

              <a
                href={item.x}
                target="_blank"
                class="mt-4 flex size-8 items-center justify-center rounded-full border bg-white shadow-sm"
              >
                <svg
                  width="16"
                  height="14"
                  viewBox="0 0 16 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.6009 0.876587H15.0544L9.69434 6.22719L16 13.5082H11.062L7.19492 9.0923L2.77013 13.5082H0.315209L6.0483 7.78509L0 0.876587H5.06188L8.55736 4.91286L12.5995 0.876587H12.6009ZM11.7399 12.2256H13.0993L4.32392 2.09181H2.86506L11.7399 12.2256Z"
                    fill="#71717A"
                  />
                </svg>
              </a>
            </div>
          </div>
        ))
      }
    </div>
  </section>
  <Seperator />
  <section
    id="newsletter"
    class="flex flex-col gap-11 rounded-small bg-navy p-2 text-white md:gap-20 md:rounded-3xl md:p-4 lg:gap-32 lg:rounded-5xl lg:p-5"
  >
    <p class="font-os text-lg font-normal md:text-xl lg:w-1/2 lg:text-3xl">
      Get Notified everything about GCP with our weekly Newsletter
    </p>
    <div
      class="mt-10 flex justify-end gap-2 md:mt-0 lg:ml-auto lg:mt-0 lg:w-1/2 lg:gap-4"
    >
      <input
        type="text"
        placeholder="Enter your email"
        class="w-full flex-1 rounded-xl border border-gray-300 p-2 text-xs md:rounded-2xl md:p-4 md:text-base lg:text-xl"
      />
      <button
        class="whitespace-nowrap rounded-xl bg-primary px-3 text-xs md:rounded-2xl md:text-base lg:text-xl"
      >
        Notify Me
      </button>
    </div>
  </section>
  <Seperator />
  <Faq client:load questions={GCP_Homepage?.questions} />
</MainLayout>
