---
import { Icon } from "astro-icon/components";

interface SocialLinks {
  twitter?: string;
  github?: string;
  discord?: string;
  website?: string;
  telegram?: string;
  youtube?: string;
}

const { links } = Astro.props;
const linkClass =
  "bg-white border border-zinc-200 shadow-sm rounded-full bg-gray-100 p-1.5 text-secondary text-zinc-500 hover:text-zinc-600";
---

<div class="flex items-center gap-2">
  {
    links?.twitter && (
      <a href={links?.twitter} target={"_blank"} class={linkClass}>
        <Icon name="socials/twitter" class="h-4 w-4" />
      </a>
    )
  }
  {
    links?.github && (
      <a href={links?.github} target={"_blank"} class={linkClass}>
        <Icon name="socials/github" class="h-4 w-4" />
      </a>
    )
  }

  {
    links?.discord && (
      <a href={links?.discord} target={"_blank"} class={linkClass}>
        <Icon name="socials/discord" class="h-4 w-4" />
      </a>
    )
  }
  {
    links?.website && (
      <a href={links?.website} target={"_blank"} class={linkClass}>
        <Icon name="socials/website" class="h-4 w-4" />
      </a>
    )
  }
  {
    links?.telegram && (
      <a href={links?.telegram} target={"_blank"} class={linkClass}>
        <Icon name="socials/telegram" class="h-4 w-4" />
      </a>
    )
  }
  {
    links?.youtube && (
      <a href={links?.youtube} target={"_blank"} class={linkClass}>
        <Icon name="socials/youtube" class="h-4 w-4" />
      </a>
    )
  }
</div>
